venv
*.pyc
.vscode
*.pyc
*.exe
*.log

*.pot
config.json
*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
*.pyc
*.pyc
*.pyc
api_flask_python/tests/__pycache__/test_releve.cpython-310.pyc
api_flask_python/tests/__pycache__/test_sonde.cpython-310.pyc
api_flask_python/tests/__pycache__/test_user.cpython-310.pyc
*.json
*.pyc
